// Colors
$color-default: #5a5a5a;
$color-white: #fff;
$color-white-green: #dcf9d7;
$color-light-green: #70c16b;
$color-dark-green: #00a39b;
$color-green: #24a47f;
$color-border-green: #009990;
$color-dark-blue: #037c93;
$color-border-blue: #1c6072;
$color-lime-green: #00b484;

// Gradients
$gradient-linear-green: linear-gradient(225deg, #70c16b, #00a39b, #00a39b);
// Dimensions
$padding-default: 20px;
$profile-image-size: 60px;
