@import 'styles/3ap';

.wrapper-card {
  .card {
    font-size: 16px;
    background-color: transparent;
    box-shadow: none !important;

    .card-header {
      align-items: start;
      padding: 7pt 7pt 7pt 9pt;
      margin-top: 30px;
      display: grid;

      .company-image-card {
        width: 50px;
        height: 50px;
        margin: auto;
      }

      .project_name {
        word-break: break-word;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        margin-top: 20px;
        text-align: center;
      }

      .category {
        visibility: hidden;
        .categoryValue {
          color: #1c6072;
        }
      }
    }

    .card-content {
      margin: 0;

      .description {
        display: inline-block;
        font-size: 16px;
        color: #1c6072;
        padding: 0;
        //margin: 2pt 0 9pt 0;
      }

      .team-comtainer {
        visibility: hidden;
        //display: flex;
        //align-items: center;
        //padding-bottom: 5pt;

        .team-label {
          font-size: 16px;
          color: #ffffff;
          display: inline-block;
          margin-right: 1em;
        }

        .team-avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #ffffff;
          display: inline-block;
          margin: 0 0.2em;
        }
      }

      .status-container {
        visibility: hidden;

        .status-label {
          font-size: 16px;
          color: #ffffff;
          background-color: clear;
          margin-right: 1em;
        }
        .status-bar {
          flex: 2;
          color: #ffffff;
          background-color: #1c6072// transparent;
        }
        .status-value {
          flex: 1;
          margin-left: 10pt;
          font-size: 16px;
          color: #eeeeee;
        }
      }
    }
  } /*   card   */
  .back,
  .front {
    display: inline;
  }

  .back-value,
  .front-value {
    margin-left: 20px;
  }

  .filledLabel {
    width: 41px;
    height: 6px;
    border-radius: 4.5px;
    background-color: #00a39b;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
}
